<h1>Wow it works!</h1>
<form action="/">
  <label for="first_name">First Name</label>
  <input type="text" name="first_name">
  <label for="last_name">Last Name</label>
  <input type="text" name="last_name">
  <input type="submit">
</form>
<ul>
  <% @users.each do |user| %>
    <li><%= user.first_name + " " + user.last_name %></li>
  <% end %>
</ul>